h1{
    margin-bottom: 0;
}
nav {
    position: fixed;
    top: 2;
    left: 0;
}

nav a {
    padding: 1em;
    text-decoration: none;
    margin-top: 10px;
    margin: 5px;
    background-color:red;
    color:whitesmoke;
    border-radius: 4px;
    display: block;
    
}

nav a:hover {
    color: white;
    background-color: #333;
}

nav a.active {
    background-color: #333;
}